/** Funções **/
@function col($x) {
	$c: 65.75px;
	$g: 12px;
	$result: floor($x * $c + ($x - 1) * $g);
    @return $result;
}

/** Dimensões **/
$headerHeight: 114px;
$padding: 24px;
$containerSize: col(16) + 2 * $padding;

/** Fontes **/
@font-face {
    font-family: 'Fugue';
    src: url('../fonts/fugue/fugue_regular-webfont.eot');
    src: url('../fonts/fugue/fugue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fugue/fugue_regular-webfont.woff2') format('woff2'),
         url('../fonts/fugue/fugue_regular-webfont.woff') format('woff'),
         url('../fonts/fugue/fugue_regular-webfont.ttf') format('truetype'),
         url('../fonts/fugue/fugue_regular-webfont.svg#fugueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneue/HelveticaNeue.eot');
	src: url('../fonts/helveticaneue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneue/HelveticaNeue.woff2') format('woff2'),
		url('../fonts/helveticaneue/HelveticaNeue.woff') format('woff'),
		url('../fonts/helveticaneue/HelveticaNeue.ttf') format('truetype'),
		url('../fonts/helveticaneue/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneue/HelveticaNeue-Bold.eot');
	src: url('../fonts/helveticaneue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneue/HelveticaNeue-Bold.woff2') format('woff2'),
		url('../fonts/helveticaneue/HelveticaNeue-Bold.woff') format('woff'),
		url('../fonts/helveticaneue/HelveticaNeue-Bold.ttf') format('truetype'),
		url('../fonts/helveticaneue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}



/** Geral **/

body {
	font-family: 'Helvetica Neue';
	font-size: 20px;
	color: black;
	margin: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
  list-style-type: none;
}

.bold {
	font-weight: 700;
}

.underline {
	text-decoration: underline;
}

.clear {
	clear: both; 
	height: 0; 
	width: 0
}

a.selected,
a.selected:hover {
	text-decoration: underline !important;
}

#conteudoHome {
	
}

.wrapper_geral {
	background-size: cover !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.wrapper_geral.inicio1 {
	background: url(../img/bg/vbbg_1.png) no-repeat center center fixed;
}
.wrapper_geral.inicio2 {
	background: url(../img/bg/vbbg_2.png) no-repeat center center fixed;
}
.wrapper_geral.inicio3 {
	background: url(../img/bg/vbbg_3.png) no-repeat center center fixed;
}
.wrapper_geral.inicio4 {
	background: url(../img/bg/vbbg_4.png) no-repeat center center fixed;
}
.wrapper_geral.inicio5 {
	background: url(../img/bg/vbbg_5.png) no-repeat center center fixed;
}

.wrapper_geral.interno,
.homeTemp {
	background: url(../img/bg/interno_1.png) no-repeat center center fixed;
}

.container {
	
}

.borderbox {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.loading {

}

.mv {
	display: none;
}

.mv.small {
	display: none;
}

.dv {
	display: block;
}

/** Header **/

#header {
	position: fixed;
	box-shadow: 0px 5px 5px -2px #7b7171;
	width: 100%;
	height: $headerHeight;
	top: 0;
	background: white;
	padding: $padding $padding 0 $padding;
	display: table;
}


#header #brand {
 	font-family: 'Fugue';
	text-transform: uppercase;
	font-size: 1.4em;
	width: 60%;
	max-width: 640px;
	float: left;
}

sup {
	font-size: 0.5em;
}

#header #brand a:hover {
	text-decoration: none;
}

#header #datalang {
	float: right;
	margin-top: 16px;
	width: 40%;
	max-width: 485px;
	font-size: 0.8em;
	line-height: 1.3em;
}

#header #lang {
	float: left;
}

#header #datas {
	float: right;
	
}

#header #lang {
	width: 20%;
}

#header #datas {
	width: 80%;
	text-align: right;
}

#header .openButton {
	position: absolute;
	top: 24px;
	right: 24px;
}

.topMenu {
	position: absolute; 
	right: 0; 
	top: 0; 
	width: 100%; 
	height: 100vh; 
	background-color: #dbdcde;
	display: none;
}

.topMenu section {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 24px;
	box-sizing: border-box;
}

.topMenu .closeButton,
#header .openButton {
	width: 36px;
	height: 36px;
	float: right;
}

.topMenu .closeButton img,
#header .openButton img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

/** Home **/
.container.home,
.container.interno {
	display: table;
	height: auto;
	min-height: 150px;
	width: 100%;
	max-width: $containerSize;
}

.container.home {
	margin: ($headerHeight + 48px) auto 0 auto;
}

.container.interno {
	margin: ($headerHeight + 86px) auto 20px auto;
}

#imgArtista {
	width: 68%;
}

.container.interno .tituloTexto {
	width: 64%;
}

#imgArtista,
.container.interno .tituloTexto {
	float: left;
}

#imgArtista img {
	width: calc(100% - 24px);
	float: right;
	max-height: 470px;
	height: 470px;
	object-fit: cover;
}

#mainMenu {
	width: 30%;
	float: right;
	text-transform: uppercase;
}

#mainMenu:after,
#listaArtistas:after {
    content: '';
    display: block;
    clear: both;
}

#mainMenu a:hover {
	text-decoration: none;
}

#mainMenu ul {
	line-height: 1.35em;
	padding: 0 0 0 18%;
}

#mainMenu ul li {
	font-size: 0.9em;
}

#mainMenu .submenu {
	display: none;
	margin: 3px 0 5px 0;
}

#mainMenu .submenu ul {
	padding: 0 0 0 32px !important;
	text-transform: lowercase;
}

#mainMenu .submenu ul li {
	font-size: 0.85em;
}

#listaArtistas {
	width: 100%;
	max-width: $containerSize;
	min-height: 200px;
	display: inline-block;
	padding: 0 $padding;
	margin: 30px 0 70px 0;
}

#listaArtistas ul {
	padding: 0;
}

#listaArtistas .col1,
#listaArtistas .col2 {
	width: 40%;
	max-width: 512px;
	float: left;
}

#listaArtistas .col1 {
	margin-right: 10px;
}

#listaArtistas .col2 {

}

#listaArtistas a:hover {
	text-decoration: underline;
}

#rodape {
	width: 100%;
	height: auto;
	display: table;
	min-height: 200px;
	margin: 0 0 0 0;
	background-color: #ed1c24;
	color: white;
	font-size: 0.75em;
	padding: 60px $padding 0 $padding;
}

.interno #rodape {
	padding: 60px $padding 32px $padding;
}

#rodape a {
	color: white;
}

#rodape > div {
	width: 30%;
	height: 100%;
	float: left;
}

#rodape .newsletter {
	width: 40%;
	height: auto;
	min-height: 100px;
}

#rodape .servico p:first-child{
	margin-top: 0;
}

#rodape .realizacao .header,
#rodape .realizacao .logos,
#rodape .realizacao .redes {
	width: 100%;
	display: inline-block;
}

#rodape .realizacao .logos {
	margin: 12px 0 $padding 0;
}

#rodape .realizacao .logos .vb,
#rodape .realizacao .logos .sesc {
	position: relative;
	height: 120px;
}

#rodape .realizacao .logos .vb img {
	width: 102px;
	height: auto;
}

#rodape .realizacao .logos .sesc img {
	width: 126px;
	height: auto;
}

#rodape .realizacao .logos .vb img,
#rodape .realizacao .logos .sesc img {
	position: absolute;
	left: 0;
	bottom: 0;
}

#rodape .realizacao .logos .vb,
#rodape .realizacao .logos .sesc,
#rodape .realizacao .redes .vb,
#rodape .realizacao .redes .sesc  {
	float: left;
}

#rodape .realizacao .logos .vb,
#rodape .realizacao .redes .vb {
	width: 160px;
}

#rodape .realizacao .logos .sesc,
#rodape .realizacao .redes .sesc {
	width: calc(100% - 160px);
}

/** Pop-up artistas **/

#popArtista {
	background-color: white;
	position: absolute;
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
}

#popArtista nav {
	background-color: gray;
	box-shadow: none;
	background: url(../img/popup_artistas/header.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#popArtista nav .close {
	width: 60px;
	height: 60px;
	float: right;
}

#popArtista nav .close img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

main {
	width: 100%;
	max-width: 1280px;
	padding: $padding;
	margin: (70px + $headerHeight) auto 0 auto;
}


#popArtista .nomeArtista {
	width: 100%;
	margin-bottom: 108px;
}

#popArtista .nomeArtista p {
	margin: 0;
	font-size: 2.3em;
	line-height: 1em;
	text-transform: uppercase;
}

#popArtista .nomeArtista span {
	font-size: 0.8em;
}

#popArtista .wrapperTituloSinopse {
	width: 66.66%;
	float: right;
	margin-bottom: 80px;
}

#popArtista .innerTituloSinopse {
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
}

#popArtista .bioArtista {
	width: 25%;
	float: left;
}

#popArtista .imagemArtista,
#popArtista .imagemArtista img {
	width: 100%;
}

#popArtista .imagemArtista {
	margin-bottom: 20px;
}

#popArtista .tituloObra,
#popArtista .fichaGrandeObra,
#popArtista .imagemObra,
#popArtista .sinopseUnica,
#popArtista .sinopseObra {
	width: 100%;
	float: right;
}

#popArtista .tituloObra {
	font-size: 2.3em;
	/*line-height: 35px;*/
}

#popArtista .tituloObra > span {
	font-size: 0.33em;
}

#popArtista .fichaPeqObra {
	display: inline;
	font-size: 0.75em;
	margin-top: 5px;
}

#popArtista .fichaGrandeObra {
	display: none;
	box-sizing: border-box;
	padding: 17px 0 0 105px;
	width: 100%;
	font-size: 0.9em;
}

#popArtista .arrow {
	display: inline-block;
	width: 19px;
	height: 11px;
	margin-left: 30px;
	cursor: pointer;
	background-size: 19px 11px !important;
	
}

#popArtista .arrow.closed {
	background: url('../img/arrow_closed.png');
}

#popArtista .arrow.open {
	background: url('../img/arrow_open.png');
}

#popArtista .imagemObra {
	margin: 30px 0 30px 0;
}

#popArtista .imagemObra img {
	width: 100%;
	height: auto;
}

#popArtista .plataforma {
	display: inline-block;
	float: left;
	line-height: 1em;
	margin: 80px 0 0 0;
	width: 40%;
}

#popArtista .plataforma:hover {
	text-decoration: none;
}

#popArtista .plataforma p {
	color: #ed1c24;
	font-size: 1.2em;
	margin: 0 0 8px 0;
}

#popArtista .plataforma span {
	font-size: 0.75em;
}

/* Internas */

.container.interno {

}

.container.interno .texto {
	padding-left: 11%;
	box-sizing: border-box;
	margin-bottom: 70px;
}

.container.interno .texto.interno {
	margin-bottom: 30px;
}

.container.interno .textoPrincipal {
	padding-left: 24px;
	margin-bottom: 30px;
}

.container.interno .texto h1,
.container.interno .textoPrincipal h1 {
	font-family: 'Fugue';
	text-transform: uppercase;
	color: black;
	font-weight: 700;
	font-size: 1em;
	display: inline;
}

.tituloPag {
	margin: 0;
	font-size: 2.3em;
	padding-left: 24px;
	margin-bottom: 33px;
}

.imgSobre {
	width: 100%;
	margin-bottom: 70px;
}

.imgSobre img {
	width: 100%;
}

.subTituloPag {
	@extend .bold;
	text-transform: uppercase;
}

.assinatura {
	/*font-size: 0.8em;*/
	margin-bottom: 60px;
}

.assinatura span {
	font-weight: 700;
}

.trecho {
	width: 100%;
	font-size: 0.85em;
	display: inline-block;
}

.trecho section {
	width: 90%;
	float: right;
}

.nota {
	font-size: 0.8em;
	margin-top: 70px;
}

/* Logos */

#logos {
	width: 100%;
	background-color: #ed1c24;
	padding-top: 20px;
}

#logos .logosWrapper {
	width: 100%;
	/*max-width: $containerSize + 800;*/
	margin: 0 auto;
}

#logos .logosWrapper > div {
	padding: 24px 0;
}

#logos header {
	width: 100%;
	font-family: 'Fugue';
	font-size: 0.75em;
	color: white;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	margin: 0 0 20px 0;
}

#logos img {
	clear: both;
	/*max-width: 100%;*/
}

#logos > div {
	text-align: center;
}

#logos .realizacao img {
	max-width: 33.33%;
}

#logos .institucional img {
	max-width: 51%;
}

#logos .cultural img {
	max-width: 94%;
}

#logos .residencia img {
	max-width: 100%;
}

#logos .colaboracao img {
	max-width: 39%;
}


#logos .cultural {
	width: 57%;
	float: left;
	margin-right: 0px;
}

#logos .institucional {
	width: 10%;
	float: left;
}

#logos .residencia {
	float: left;
	width: 24%;
}

#logos .colaboracao {
	float: left;
	width: 8%;
}

#logos .institucionalCultural {
	display: inline-block;
	width: 100%;
	padding: 30px 20px 20px 20px !important;
	box-sizing: border-box;
}

/* 
======
LARGE SCREEN
====== */

@media screen and (min-width: 1024px), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) {


}


/* 
======
MEDIUM SCREEN
====== */

@media screen and (max-width: 1023px), screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5) {

	.mv {
		display: block;
	}

	.dv {
		display: none;
	}

	.home #header,
	.interno #header {
		background: transparent;
		box-shadow: none;
		position: relative;
		height: 186px;
	}

	.home #header #brand,
	.interno #header #brand {
		width: 100%;
		font-size: 1.2em;
	}

	.home #header #datalang,
	.interno #header #datalang {
		float: left;
		width: 100%;
	}

	.home #header #datas,
	.interno #header #datas {
	    text-align: left;
	    float: left;
	    margin-bottom: 16px;
	    width: 100%;
	}

	#popArtista #header #brand {
		width: calc(100% - 60px);
	}

	.container.home,
	.container.interno {
	    margin: 30px auto 0 auto;
	}

	#imgArtista {
		width: 100%;
		text-align: center;
	}

	#imgArtista img {
		width: calc(100% - 48px);
		float: none;
	}

	#mainMenu.top {
		float: right;
		/*width: 50%;*/
		width: auto;
		min-width: 50%;
	}

	#mainMenu ul {
	    padding: 0 0 0 72px;
	    
	}

	#mainMenu.top ul {
		padding: 0;
	}

	#mainMenu.top ul li {
		font-size: 1em;
		line-height: 1.45em;
	}

	.container.interno #mainMenu ul {
		margin-top: 0;
	}

	.container.interno .tituloTexto {
		width: 100%;
		margin-top: 30px;
	}

	.container.interno .texto,
	.tituloPag {
		padding: 0 24px;
	}

	#listaArtistas ul {
		margin-top: 0;
	}

	#listaArtistas .col1 {
		width: calc(50% - 10px);
	}

	#listaArtistas .col2 {
		width: 50%;
	}

	#rodape .servico {
		width: 100%;
		margin-bottom: 30px;
	}

	#rodape .realizacao {
		width: 320px;
		/*float: unset;
		margin: 0 auto;*/
	}

	#logos header {
		text-align: left;
	}

	#logos > div {
	    text-align: left;
	}

	#rodape .newsletter {
		/*margin-bottom: 30px;*/
		width: 100%;
	}

	#logos .institucionalCultural {
		padding: 30px 20px 0px 20px !important;
	}

	#logos .institucional {
	    width: 40%;
	    float: left;
	    margin: 0 auto;
	}

	#logos .institucional img {
	    max-width: 45%;
	}

	#logos .cultural {
	    width: 100%;
	}

	#logos .cultural img {
	    max-width: 100%;
	}

	#logos .residencia {
	    width: 68%;
	    float: left;
		margin: 0 auto;
	}

	#logos .residencia img {
	    max-width: 98%;
	}

	#logos .colaboracao {
	    width: 24%;
		float: left;
		margin: 0 auto;
	}

	.container.interno .textoPrincipal {
	    padding-left: 48px;
	}

	/* Artistas */

	#popArtista .bioArtista {
		font-size: 0.9em;
	}



}

/* 
======
SMALL SCREEN
====== */

@media screen and (max-width: 768px), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) {

	.mv.small {
		display: block;
	}

	.home #header,
	.interno #header {
		height: 172px;
	}

	.interno #header #brand {
		/*font-size: 1.1em;*/
	}

	.home #header #brand, .interno #header #brand {
	    width: calc(100% - 60px);
	}

	#rodape .realizacao .logos .vb img {
		width: 82px;
	}

	#rodape .realizacao .logos .sesc img {
	    width: 106px;
	}

	#listaArtistas {
		margin: 20px 0 70px 0;
		font-size: 14px;
	}

	#listaArtistas .col1, #listaArtistas .col2 {
	    width: 100%;
	    max-width: unset;
	    float: none;
	}

	#listaArtistas .col2 {
    	margin-top: -15px;
	}

	/* Artistas */

	#popArtista #header {
		padding: 24px 24px 20px 24px;
	}

	#popArtista #header #brand {
		font-size: 1.2em;
	}

	#popArtista main {
		margin: 123px auto 0 auto;
	}

	#popArtista nav .close {
		width: 46px;
	}

	#popArtista .nomeArtista,
	#popArtista .bioArtista,
	#popArtista .wrapperTituloSinopse {
		width: 100%;
	}

	#popArtista .nomeArtista {
	    margin-bottom: 20px;
	}

	#popArtista .bioArtista {
		font-size: 1em;
		margin-bottom: 30px;
	}

	#popArtista .wrapperTituloSinopse {

	}

	#popArtista .wrapperTituloSinopse {
	    margin-bottom: 30px;
	}

	#popArtista .innerTituloSinopse {
	    margin-bottom: 12px;
	}

	#popArtista .plataforma {
	    margin: 80px 0 30px 0;
	}

	



}

@media screen and (max-width: 370px), screen and (max-width: 370px) and (-webkit-min-device-pixel-ratio: 1.5) {

	#popArtista #header #brand {
	    font-size: 1em;
	}

	#popArtista nav .close {
		width: 35px;
	}


}



